# cd
alias ..='cd ..'

# ls
alias ls="ls -FG"
alias ll="ls -GhlF"
alias la='ls -AG'

# git
alias gpu='git pull'
alias gph='git push'
alias gdi='git diff'
alias gct='git commit'
alias gca='git commit -a'
alias gco='git checkout'
alias gst='git status'
alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"

# github
alias gow='gh repo view --web'

# rails
alias rs='./bin/dev'
alias rc='./bin/rails console'
alias rt='./bin/rails test'

alias a='autotest -rails'
alias tlog='tail -f log/development.log'
alias rdbm='rails db:migrate'
alias rdrs='rails db:reset'

alias rst='touch tmp/restart.txt'
alias rspp='rake parallel:spec; rake parallel:features'
alias rspm='rspec spec/models'
alias rspc='rspec spec/controllers'
alias rspr='rspec spec/requests'
alias rspf='rspec spec/features --tag "~js"'

alias rspnj='rspec --tag "~js"'
alias rspj='rspec spec/features --tag js'

# commands starting with % for pasting from web
alias %=' '

# changing directory to code project
function p { cd ~/Projects/$1; }
function h { cd ~; }
function le { cd ~/Projects/learning/$1; }
