[user]
	name = Antony Sastre
	email = antony@northcollective.se
  	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILr/tBrdq2Rm/UlXLyKt07fE08YwQKwKeWNjWg6/ktnQ
[color]
	interactive = auto
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	ignorecase = false
[apply]
	whitespace = nowarn
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = /Users/sastre/.ssh/allowed_signers
[i18n]
	locale = C
[init]
	defaultBranch = main
